* {
    font-family: 'Montserrat', sans-serif;
}

.cate-image {
    width: 100px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid white;
    border-radius: .25rem;
    appearance: none;
    -moz-appearance: none;
}

/* Rating */

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }

.rating-css input {
    display: none;
}

.rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
  
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.checked {
    color: #FFd900;
}